header {
    height: 100px;
    display: flex;
    flex-direction: row;
}

.logo {
    height: 100%;
    width: 15%;    
    background-color: LightCyan;
}

.header {
    height: 100%;
    width: 85%;
    background-color: Lavender;
}

.container {
    height: 500px;
    flex-direction: column;
    display: flex;
}

.menu {
    height: 10%;
    width: 100%;
    background-color: LightSalmon;
}

.tresc {
    height: 90%;
    width: 100%;
    background-color: AliceBlue;
}

footer {
    height: 100px;
    background-color: LightGreen;
    text-align: center;
}

div {
    text-align: center;
}